* {
    -bg-color: #92C48D;
    -accent-color: #6faa67;
    -text-color: #fbfff9;
    -hover-color: #a0e19a;
}

.background{
    -fx-background-color: -bg-color;
}

.menuBtn{
    -fx-background-color: -bg-color;
    -fx-text-fill: -text-color;
    -fx-cursor: hand;
    -fx-font-size: 24px;
}

.menuBtn:hover{
    -fx-background-color: -hover-color;
}

.exitBtn{
    -fx-background-color: -accent-color;
    -fx-text-fill: -text-color;
    -fx-cursor: hand;
    -fx-font-size: 24px;
}

.exitBtn:hover{
    -fx-background-color: -hover-color;
}

.active {
    -fx-background-color: -accent-color;
}

